@using Microsoft.AspNetCore.Mvc.Localization
@model MyProject.Domain.ViewModels.RegisterUserViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Register"];
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>@Localizer["Create a new account"]</h2>
                    <form asp-action="Register" asp-antiforgery="true">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <label style="width: auto" asp-for="UserName" class="col-md-2 control-label" ></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <label style="width: auto" asp-for="Password" class="col-md-2 control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <label style="width: auto" asp-for="PasswordConfirm" class="col-md-2 control-label"></label>
                        <input asp-for="PasswordConfirm" class="form-control" />
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>

                        <button type="submit" class="btn btn-default">@Localizer["Register now"]</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
